.box-login {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.login {
	border: solid 1px #ddd;
	padding: 20px;
	
}
.login * {
	font-size: 16px;
}
.title-login {
	padding: 10px 20px 10px 20px;
	background-color: #5CB85C;
	font-weight: bold;
	font-size: 22px;
	color: #fff;
}